.add {
    margin-left: max(1.5rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #6D6D6D;
}

.add-img-upload img {
    width: 120px;
    padding: 0.5rem 0rem;
}

.add-product-name,
.add-product-description {
    padding: 0.5rem 0rem;
}

.add-product-name input,
.add-product-description textarea {
    border: 1.5px solid #A9A9A9;
    padding: 0.5rem 0.5rem;
    width : max((290px))
      
}

.add-category-price {
    display: flex;
    gap: 1rem;
}
.add-category-price select,
.add-category-price input {
    width : max(135px);
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    border: 1.5px solid #A9A9A9;

}

.add-btn {
    width: 150px;
    border: none;
    padding: 0.8rem 0rem;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 1rem 0rem;
}

@media screen and (max-width : 750px) {
    .add {
        margin-left: max(0.5rem);
    }
}